* {
    box-sizing: border-box;
    padding: 0;
}
  
body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden ;
}

/* Navbar edit */

nav {
  position: relative;
  padding: 30px 0px;
}

.navbar-icon img {
  position: absolute;
  left: 10rem;
}

.navbar-icon img, .navbar__menu, form {
  position: absolute;
  top: 20px;
}

.navbar__menu {
  list-style: none;
  position: absolute;
  display: flex;
  right: 35rem;
}

.navbar__menu a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.navbar__menu a:hover {
  color: #ED8627;
  border-bottom: 3px solid #FF902B;
  padding-bottom: 10px;
}

.navbar__menu li {
  padding: 0px 30px;
}

.navbar-icon form {
  position: absolute;
  right: 15rem;
  top: 10px;
}

.navbar-icon form i {
  font-size: 30px;
  position: relative;
  top: 5px;
  left: 10px;
  color: #000;
}

.navbar-icon form i:hover {
  color: #ED8627;
}

.navbar-icon form input {
  background-color: #fff;
  border-radius: 60px;
  border: #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

#gopy {
  color: #ED8627;
  border-bottom: 3px solid #FF902B;
  padding-bottom: 10px;
}

input[type=search]:focus {
  outline: 1px transparent;
}

/* main edit */

.container-fluid {
  position: relative;
}

.container-main {
  background-color: #FF902B;
  position: absolute;
  left: 31.5rem;
  top: 90px;
  width: 41rem;
  height: 700px;
  border-radius: 20px;
}


.container-main span:nth-of-type(1) {
  color: #eee;
  font-size: 50px;
  position: absolute;
  left: 6rem;
  top: 50px;
  font-weight: 700;
}

.container-main span:nth-of-type(2) {
  position: absolute;
  left: 10rem;
  top: 200px;
} 

.container-main input:nth-of-type(1) {
  position: absolute;
  left: 10rem;
  top: 230px;
  width: 350px;
  padding: 10px 0;
  padding-left: 20px;
  padding-top: 10px;
  border: none;
  border-radius: 30px;
}

.container-main span:nth-of-type(3) {
  position: absolute;
  left: 10rem;
  top: 285px;
}

.container-main input:nth-of-type(2) {
  position: absolute;
  left: 10rem;
  top: 320px;
  width: 350px;
  padding: 10px 0;
  padding-left: 20px;
  padding-top: 10px;
  border: none;
  border-radius: 30px;
}

.container-main span:nth-of-type(4) {
  position: absolute;
  left: 10rem;
  top: 370px;
}

.container-main textarea {
  position: absolute;
  left: 10rem;
  top: 400px;
  resize: none;
  width: 350px;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: none;
  border-radius: 30px;
}

.container-main a {
  position: absolute;
  left: 17rem;
  top: 36rem;
  background-color: #eee;
  padding: 10px 30px;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
}

.container-main a:hover {
  color: #fff;
  background-color: #1e1a1a;
}

/* Footer edit */

footer {
  background-color: #F6EBD9;
  color: #000;
  position: relative;
  top: 900px;
  height: 300px;
}

.footer__row {
  padding-top: 40px;
}

.footer__row .col-md-4 p {
  /* text-align: justify; */
  padding-right: 50px;
  line-height: 30px;
}

.footer__row .col-md-4 h4 {
  font-weight: 700;
}

.footer__img {
  width: 200px;
  padding-left: 35px;
}

.footer__icon li {
  list-style: none;
  padding-top: 10px;
}

.footer__icon a {
  text-decoration: none;
  color: #000;
}

.link__ft-1 {
  margin-top: 5px;
}

.link__ft-1 a:hover {
  color: blue;
}

#other-title {
  margin-left: 30px;
}

.footer__link li {
  list-style: none;
  padding-top: 10px;
}

.footer__link a {
  text-decoration: none;
  color: #000;
}

footer .footer--copyrigt {
  position: absolute;
  bottom: 20px;
  left: 200px;
}

footer .footer--linker {
  list-style: none;
  display: flex;
  position: absolute;
  right: 100px;
  bottom: 20px;
}

footer .footer--linker li {
  padding: 0px 10px;
}

footer .footer--linker a {
  text-decoration: none;
  color: #fff;
}

footer .footer--linker a:hover {
  color: blue;
}

